<%- model_class = Todo -%>

<script type="text/javascript">
	$(function(){
		$('#datetimepicker').datetimepicker({
			timeOnlyTitle: '<%= t('timepicker.timeOnlyTitle') %>',
			timeText: '<%= t('timepicker.timeText') %>',
			hourText: '<%= t('timepicker.hourText') %>',
			minuteText: '<%= t('timepicker.minuteText') %>',
			secondText: '<%= t('timepicker.secondText') %>',
			currentText: '<%= t('timepicker.currentText') %>',
			closeText: '<%= t('timepicker.closeText') %>'
		});
	});
</script>

<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human) %></h1>
</div>
<%= render :partial => 'form' %>
