<article class="index">
	<table class="table">
		<caption><% title "All todos" %></caption>
		<thead><tr>
			<th>Tytuł:</th>
			<th>Deadline:</th>
			<th>Operacje</th>
		</tr></thead>
		<tbody>
		<% @todos.each do |todo| %>
			<tr>
				<td><%= todo.tytul %></td>
				<td><%= todo.deadline %></td>
				<td>
					 <%= link_to 'Szczegoły', todo, class: 'btn btn-mini'%>
					 <%= link_to 'Edycja', edit_todo_path(todo), class: 'btn btn-mini'%>
					 <%= link_to 'Skasuj', todo, confirm: 'Jesteś pewien?', method: :delete, class: 'btn btn-mini btn-danger'%>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<%# todo.opis %>
</article>

<div class="form-actions">
  <%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary'%>
</div>
