<% title "Show todo" %>

<article class="show">
  <div class="attribute">
    <span class="name">Tytul</span>
    <span class="value"><%= @todo.tytul %></span>
  </div>
  <div class="attribute">
    <span class="name">Opis</span>
    <span class="value"><%= @todo.opis %></span>
  </div>
  <div class="attribute">
    <span class="name">Deadline</span>
    <span class="value"><%= @todo.deadline %></span>
  </div>
  <div class="attribute">
    <span class="name">Priorytet</span>
    <span class="value"><%= @todo.priorytet %></span>
  </div>
<div class="form-actions">
  <%= link_to 'Back', todos_path, class: 'btn'%>
  <%= link_to 'Edit', edit_todo_path(@todo), class: 'btn' %>
  <%= link_to 'Destroy', @todo, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'%>
</div>
</article>
